@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}
.wrapper{
    height: 100vh;
        /* overflow-x: ; */
}
.container{
    display: flex;
    /* height: 100%;
    width: 100%; */
    min-height: 100vh;
    /* margin-top: 25%; */
    /* align-items: center; */
    justify-content:center ;
    align-items: center;
    background-color: wheat;
   /* background-color: white; */
    
}
.content{
    margin-left: 20px;
    font-size: x-small;
    margin-top: 30px;
}
.container h2{
    margin: top 1rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right:10%;
    font-size: xx-large;
    font-weight: 500;
}
.card{
    display: flex;
    background-color: white;
    border-radius: 25px;
}
.container p{
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 20px;

}
img{
    max-width: 100%;
}
.image{
    height: 30rem;
}

.desktop-img{
    height: 100%;
    border-radius: 25px;
    
}
   .but{
    border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  background-color: green;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 10%;
   }
   
   .butimg{
    height: 30px;
    width: 25px;
    justify-content: center;
    margin: top 1px; ;
    margin-right: 5px;
   }